@page "/AlteringTimeline"
@using BlazorTimeline

<Timeline
    Title="Manual Altering timeline"
    TitleBgColor="#554DE0"
    TitleColor="#FFFFFF"
    TextColor="#F3F3F3"
    TextBgColor="#212121"
    ItemPositionOption="@ItemPositionOption.Manual">
    <TimelineItem Title="Left" Position="ItemPosition.Left">
        Hi! I'm left!
    </TimelineItem>

    <TimelineItem Title="Right" Position="ItemPosition.Right">
        Hello! I'm right!
    </TimelineItem>
    <TimelineItem Title="Right" Position="ItemPosition.Right">
        Hello! I'm right!
    </TimelineItem>
    <TimelineItem Title="Left" Position="ItemPosition.Left">
        Hi! I'm left!
    </TimelineItem>
    <TimelineItem Title="Left" Position="ItemPosition.Left">
        Hi! I'm left!
    </TimelineItem>
    
    <TimelineItem Title="Hey I am a custom icon">
        <IconContent>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
             <g id="Layer_1">
              <title>Layer 1</title>
              <ellipse filter="url(#svg_4_blur)" transform="rotate(-6 11.9687 12.2016)" ry="11.17721" rx="11.61553" id="svg_4" cy="12.20163" cx="11.96869" stroke="#000" fill="none"/>
              <ellipse stroke-width="2" ry="0.06262" id="svg_5" cy="3.21603" cx="36.35817" stroke="#000" fill="none"/>
             </g>
             <defs>
              <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_4_blur">
               <feGaussianBlur stdDeviation="0.5" in="SourceGraphic"/>
              </filter>
             </defs>
            </svg>
        </IconContent>
    </TimelineItem>
</Timeline>